.contactList {
  border: 1px dashed #d1d0d0;
  border-radius: 20px;
}

.contactList li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-width: 2px;
  border-radius: 14px;
  border-style: solid;
  border-color: #9cd2ff;
  font-family: sans-serif;
  margin-left: 20px;
}

.delete:hover,
.delete:focus {
  border-color: #ff5050;
}
